* { 
  vertical-align: baseline; 
  font-weight: inherit; 
  font-family: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  border: 0 none; 
  outline: 0; 
  padding: 0; 
  margin: 0;
  }
  a{
  	text-decoration: none;
  	color:black;
  }
  @font-face{
  	font-family: "PlayfairDisplay";
  	src:url("../font/playfairdisplay.ttf");
  	font-family: "Roboto";
  	src:url("../font/Roboto-Regular.ttf");
  	font-family: "HmO";
  	src:url("../font/HammersmithOne-Regular.ttf");
}
.layout{
	max-width: 1600px;
	font-family: "PlayfairDisplay";
	
}
 .container{
 	width: 940px;
 	margin: 0 auto;
 }


 .overlay, .video-overlay, .overlay-team, .overlay-comment,.overlay-footer{
 	width: 100%;
    min-height: 670px;
    background: rgba(78,61,115,0.7);
 }
 .video-overlay{
 	min-height: 547px;
 }
 .overlay-team{
 	min-height: 710px;
 }
 .overlay-comment{
	min-height: 500px;
 }
 .overlay-footer{
	min-height: 400px;
 }
 .adaptive-img-css{
 	max-width: 100%;
  	height: auto;
 }
 .main-head{
	min-height: 670px;
	background-image: url("../img/bg-head.jpg");

 }
 .main-head nav{
 	display: flex;
 	padding-top:15px;
 	margin-bottom: 157px;
 }
 .logo img{
 	vertical-align: middle;
 	margin-right: 5px;
 }
 .logo span{
 	color:#00e0d0;
 	font-size: 30px;
 	vertical-align: middle;
 }
 .nav-menu{
 	display: flex;
 	width: 56.17%;
 	margin-left: 31%;
 	padding-top: 15px;

 }
 .nav-menu-item{
 	padding-right: 22px;
 	list-style: none;
 	white-space: nowrap;
 }
 .nav-menu-item a{
 	color:#fff;
 	font-size: 13px;
 	text-transform: uppercase;
 	font-weight: bold;
 }
 .nav-menu-item a:hover{
 	color:#00e0d0;
 }
 .nav-menu .active a{
	color:#00e0d0;
 }
 .text-in-header{
 	text-align: center;
 }
 .text-in-header h1{
	display: block;
	margin-bottom: 20px;
 }
 .headline{
 	color:#fff;
 	font-size: 32px; 
 	font-weight: bold;
 	line-height: 1.2;
 }
 .text-in-header p{
 	color: #fff;
 	font-size: 14px;
	margin-left: 50px;
	margin-right: 50px;
	display: block;
	margin-bottom: 70px;
	font-family: "Roboto";
 } 
 .blue-line, .gray-line{
 	width: 5.3%;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 25px;
 	border-top:2px solid #00e0d0;
 }
 .gray-line{
 	border-color: #c6c4c9;
 	margin-bottom: 63px;

 }
 .link-button{
 	display: inline-block;
	width: 122px;
	height: auto;
	border: 1px solid #00e0d0;
	border-radius: 2px;
	font-size: 14px;
	color: #00e0d0;
	font-weight: bold;
	font-family: "HmO";
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: 0px;
	top: -18px;
	margin-right: 5px;
	margin-left: -2px;
 }



 .our-story{
 	margin-top: 69px;
 	margin-bottom: 70px;
 }
 .position-in-our-story{
 	left: -6px;
	top: 1px;
 }
 .img-story{
 	float: left;
 	width: 25%;
 	margin-left: 6.6%;
 }
 .text-story{
 	float: right;
 	width: 57%;
 }
 .text-story h2{
	margin-bottom: 17px;
 }
 .text-story p{
 	margin-bottom: 39px;
 	color: #413d4b;
 	font-weight: normal;
 	font-size: 14px;
 	font-family: "Roboto";
 }
 .clear{
 	clear: both;
 }
 .headline2{
 	font-size: 22px;
 	color:#413d4b;
 	font-weight: bold;
 	text-transform: uppercase;
 	font-family: "PlayfairDisplay";
 }
 .video{
 	min-height: 547px;
 	width: 100%;
 	background-image: url("../img/bg-video.jpg");
 }
 .paly-icon{
 	width: 100px;
 	height: 100px;
 	background-image: url("../img/play-icon.png");
 	background-repeat: no-repeat;
 	position: relative;
 	left: 617px;
	top: 202px;
 }
 .text-under-hl{
 	font-family: "PlayfairDisplay";
 	color: #2f2d35;
 	font-size: 14px;
 	margin-bottom: 20px;	
 }
 .video p{
	font-family: "Roboto";
	font-size: 16px;
	color: #fff;
	position: relative;
	left: 594px;
	top: 231px;
	font-weight: bold;
 }
 .expertise{
 	text-align: center;
 	margin-top: 69px;
 	margin-bottom: 76px;
 }
 .expertise h2{
 	margin-bottom: 8px;
 }
 .expertise-conatiner{
 	width: 100%;
 	display: inline-block;
 }
 .expertise-item{
 	width: 31.33%;
 	display: inline-block;
 	font-family: "Roboto";
 	border-left: 1px solid #ebebeb;
 	padding-left: 12px;
	padding-bottom: 52px;
	padding-top: 20px;
	padding-right: 2px;
	height: auto;
 }
 .expertise-item:nth-child(1),.expertise-item:nth-child(2),.expertise-item:nth-child(3){
 	border-bottom: 1px solid #ebebeb;
 }
 .expertise-item:nth-child(1),.expertise-item:nth-child(4){
 	border-left: none;
 }

 .expertise-item header{
 	text-align: center;
 	margin-bottom: 18px
 }
 .expertise-item header h3{
 	color:#413d4b;
 	font-size: 14px;
 	text-transform: uppercase;
 	font-weight: bold;
 	margin-top: 26px;
 }
 .expertise-item section{
 	color:#333333;
 	font-size: 14px;
 	text-align: center;
 }
 .our-team{
 	width: 100%;
 	height: 710px;
 	background-image: url("../img/bg-emp.jpg");
 	text-align: center;
 	margin-bottom: 68px;
 }
 .our-team h2,.our-team .text-under-hl{
 	color:#fff;
 	padding-top: 65px;
	padding-bottom: 11px;
 }
 .our-team .text-under-hl{
 	padding-top: 0px;
 	padding-bottom: 0px;
 }
 .our-team .gray-line{
 	margin-bottom: 46px;
 }
	
 .team-container{
 	width: 100%;
 	display: inline-block;
 	margin-bottom: 71px;
 }
 .team-item{
 	display: inline-block;
 	width: 23%;
 	margin-right: 4px;
 	border-left: 1px solid #666699;
 	border-right: 1px solid #666699;
 	border-bottom: 1px solid #666699;
 }
 .our-team .text-befo-link{
 	color:#f3f3f3;
 	font-size: 14px;
 	font-family: "Roboto";
 	font-weight: 300;
 	margin-bottom: 46px; 
 }
 .info-emp{
	width: 100%;
	height: 100%;
	margin-top: 12px;
	padding-bottom: 24px;
 }
 .info-emp h3,.info-emp p{
 	font-family: "Roboto";
 	font-size: 14px;
 	font-weight: bold;
 	text-transform: uppercase;
 	color: #fff;
 }
 .info-emp h3{
 	margin-bottom: 5px;

 }
 .info-emp p{
 	font-size:13px;
 	font-weight: 300;
	color: #adacb9;
 }
 .img-plug img:last-child{
 	margin-top: -4px
 }
 .container-for-works{
 	display: inline-block;
 	margin-bottom: 53px;
 	width: 100%;
 }
 .container-for-works h3, .container-for-works p{
 	display: inline-block;
 }
 .container-for-works h3{
 	color:#413d4b;
 }
 .container-for-works a{
 	font-family: "Roboto";
 	font-size: 14px;
 	color:#413d4b;
	margin-left: 64%;
	display: inline-block;
 }
 .container-for-works a::after{
 	content: "";
 	background-image: url("../img/icon-arrow.png");
 	width: 8px;
	height: 13px;
	position: relative;
	left: 184px;
	top: -15px;
	display: block;
 }
 .more-link a{
 	position: relative;
 	left: 408px;
	top: 49px;
 }
 .our-works{
 	margin-bottom: 119px;
  }
  .clients-contact{
  	margin-bottom: 52px;
  }
  .comments-about-us{
  	width: 100%;
  	height: 500px;
  	background-image: url("../img/bd-comment.jpg");
  	margin-bottom: 67px;
  }
  .form-contact{
  	float: left;
  	width: 50%;
  }
  .form-contact form{
  	margin-top: 28px;
  }
  .form-contact form input, .form-contact form textarea{
	width: 100%;
	border:1px solid #E5E5E5;
	color:#C6C4C9;
	font-family: "Roboto";
	font-size: 14px;
  }
  .form-contact form input{
  	padding-top: 16px;
	padding-bottom: 10px;
	padding-left: 14px;
	margin-bottom: 23px;
	width: 94%;
  }
  .form-contact form textarea{
  	padding-top: 15px;
	padding-left: 16px;
	width: 94%;
	margin-bottom: 34px;
  }
  .clients{
  	width: 41%;
  	float: right;
  }
  .clients-img{
  	margin-top: 40px;
  	display: flex;
  }
.clients-img .right, .clients-img .left{
	display: flex;
	flex-direction: column;


}
.clients-img .right{
	margin-right: 21%;
}
.clients-img .right a, .clients-img .left a{
	display: block;
	margin-bottom: 45px;
}
.button-submit{
	background-color: #fff;
	text-transform: uppercase;
}
.button-submit:hover{
	cursor: pointer;
	background-color: #E5E5E5;
}
.button-submit:active{
	background-color: #796B8F;
}
footer{
	width: 100%;
	background-image: url("../img/bg-footer.jpg");
	min-height: 100px;
}
.content-in-footer{
	display: flex;
	padding-top: 65px;
	margin-bottom: 68px;
}
.content-in-footer .about-us, 
.content-in-footer .contact-us,
.content-in-footer .social-form{
	width: 33%;
	margin-right: 15px

}
.content-in-footer .contact-us,
.content-in-footer .social-form{
	padding-top: 20px;
}
.content-in-footer .social-form{
	margin-left: 56px;
}
.logo-footer{
	margin-bottom: 24px;
}
.about-us p,.address, .phone{
	font-family: "Roboto";
	font-size: 14px;
	color:#fff;
	line-height: 144%;
}
.address, .phone{
	margin-left: 21px;
}
.address p{
	position: relative;
	left: 30px;
	top: -17px;
}
.phone p{
	position: relative;
	left: 30px;
	top:-17px;
}
.headline3{
	font-family: "Roboto";
	font-weight: bold;
	color: #fff;
	margin-bottom: 34px;
}
.address::before{
	content: "";
	width: 14px;
	height: 19px;
	background-image: url("../img/marker-icon.png");
	display: block;
}
.phone::before{
	content: "";
	width: 17px;
	height: 17px;
	background-image: url("../img/phone-icon.png");
	display: block;
}
.send-email-form{
	display: flex;
	width: 104%;
}
.send-email-form input{
	background-color: transparent;
	border:1px solid #9A92AB;
	color: #CCC9D5	;
	font-family: "Roboto";
	width: 70%;
	padding-top: 12px;
	padding-bottom: 11px;
	padding-left: 13px;
}
.send-email-form button{
	background-color: rgba(157,147,172,0.7);
	width: 74px;
	height: 43px;
	margin-top: 1px;
	margin-left: 10px;
	padding-top: 8px;
	padding-left: 0px;
}
.soc-link{
	display: flex;
	width: 100%;
	
}
.soc-link-item{
	width: 35px;
	height: 35px;
	background-image: url("../img/soc-icon/facebook.png");
	margin-top: 28px;
	margin-right: 9px;
}
.tw{
	background-image: url("../img/soc-icon/twitter.png");
}
.ww{
	background-image: url("../img/soc-icon/dribbble.png");
}
.in{
	background-image: url("../img/soc-icon/instagram.png");
}
.yt{
	background-image: url("../img/soc-icon/youtube.png");
}
.gp{
	background-image: url("../img/soc-icon/gplus.png");
}
.help {
	display: flex;
}
.help li{
	list-style: none;
	margin-right: 36px;
}
.help li a, .copyrigth{
	color: #fff;
	text-transform: uppercase;
	font-family: "Roboto";
	font-size: 14px;
}
.copyrigth{
	position: relative;
	left: 711px;
	top: -18px;
	text-transform: none;
}
.text-comment-container{
	text-align: center;
}
.text-comment-container .text-comment{
	width: 75%;
	margin-left: 101px;
	margin-top: 30px;
	margin-bottom: 65px;
}
.carusel-item{
	padding-top: 69px;
}
.text-comment-container {
	color: #fff;
	font-size: 16px;
	font-family: "PlayfairDisplay";
	line-height: 26px;	
}
.text-comment-container .name{
	font-family: "Roboto";
	font-size: 14px;
}
.text-comment-container .name p:first-child{
	font-weight: bold;
}
.carusel-photo{
	display: flex;
	margin-left: 34%;
	margin-top: 35px;
}
.carusel-photo .carousel-element{
	list-style: none;
	margin-right: 11px;
	margin-top: 13px;
}
.carusel-photo .carousel-element img{
	width: 45px;
	height: 45px;
	
}
.carusel-photo .active{
	margin-top: 0px;
}
.carusel-photo .active img{
	width: 70px;
	height: 70px;

}
.arrow-left{
	background-image: url("../img/icon-left.png");
	width: 8px;
	height: 13px;
	position: relative;
	left: 271px;
	top: 63px;
}
.arrow-left:hover{
	cursor: pointer;
}
.arrow-right:hover{
	cursor: pointer;
}
.arrow-right{
	background-image: url("../img/icon-arrow.png");
	width: 8px;
	height: 13px;
	position: relative;
	left: 655px;
	top: -59px;
}
.radio{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.radio-button{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border:1px solid #BABABC;
}
.radio .active {
	background-color:#00E0D0;
}


